body {
  background-color: #fff;
  font-family: "Times New Roman", Times, serif;
}
table.csv_sheet {
  border-collapse:collapse;
  border: 1px solid black;
}

table.csv_sheet td {
  padding: 5px;
  border: 1px solid #2D4068;
}

table.csv_sheet th {
  background: #374F7F;
  color: #fff;
  padding: 5px;
  border: 1px solid #2D4068;
}
tr.csv_row_err td { background-color: #f00; text-color: #fff; }
tr.csv_row_local td { background-color: #aaf; }
tr.csv_row_conflicting td { background-color: #faa; }
tr.csv_row_ppp td { background-color: #afa; }
tr.csv_row_mmm td { background-color: #faa; text-decoration: line-through; }
tr.csv_row_p td { background-color: #dfd; }
tr.csv_row_m td { background-color: #fdd; text-decoration: line-through; }
tr.csv_row_for td { background-color: #aaf; }
tr.csv_row_do td { background-color: #ddf; }
tr td.csv_cmd { text-decoration: none; text-weight: bold; }
